*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
 
}
.logo-navbar{
    width:139px;
    height:60px;
}
.navbar{
    width:1600px;
    height:64px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
     align-items: center;
}
.nav-list{
   
    display:flex;
    list-style-type: none;
   gap:10px;
   font-size: 16px;
 
  
}

.nav-list a{
    text-decoration: none;
}
.nav-button{

    width:164px;
    height:44px;
    color:white;
    background-color:#30B868;
    border-radius: 4px;
    border-color: white;
    padding:12.5px,16px;
}
